<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DNSimple E-Mail reports</title>
    <link rel="stylesheet" href="https://make-it-nice.dnsimple.com/css/dnsimple-tachyons-1.0.0.min.css">
  </head>

  <body class="dn-body">

    <header class="dn-navbar pa3 mb4">
      <div class="dn-navbar-branding">
        DNSimple E-Mail Reports
      </div>
      <div class="dn-navbar-nav">
        <%= if @conn.assigns[:current_account] do %>
        <%= link("Logout", to: logout_path(@conn, :logout), method: :post, class: "dn-link-primary mh2") %>
        <% end %>
      </div>
    </header>

    <%= if info = get_flash(@conn, :info) do %>
    <div class="dn-alert-info"><span><%= info %></span></div>
    <% end %>
    <%= if error = get_flash(@conn, :error) do %>
    <div class="dn-alert-danger"><span><%= error %></span></div>
    <% end %>

    <main role="main" class="container">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
