<h2>Your personal regular DNSimple report!</h2>
<p>E-mail address on file: <%= @email %></p>
<h3>Monthly report</h3>
<h4>coming soon ...</h4>

<%= form_for @conn, page_path(@conn, :send), [as: :report_params], fn f -> %>

  <div class="form-group">
    <%= hidden_input f, :email, value: @email, class: "form-control" %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group">
    or <%= submit "Get a one-time report!", class: "btn btn-primary" %>
  </div>
<% end %>
