<h1>Subscribe to your Monthly DNSimple report with <%= @email %>!</h1>
<%= form_for @conn, page_path(@conn, :send), [as: :report_params], fn f -> %>

  <div class="form-group">
    <%= hidden_input f, :email, value: @email, class: "form-control" %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group">
    <%= submit "Subscribe!", class: "btn btn-primary" %>
  </div>
<% end %>
